*{
    margin: 0;
    font-family: "Nunito", sans-serif;
}
header{
    padding-bottom: 30px;
    background-color: darkgreen;
    text-align: center;
    & h1{
        color: white;
    }
}
.container{
    position: relative;
    border: 1px solid blue;
    & img{
        width: 100%;
        opacity: 0.7;
    }
}
